#ebDjangoProj/settings/local.py
ebDjangoProj/__pycache__
ebDjangoProj/settings/__pycache__
# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

