ebDjangoProj/settings/local.py
ebDjangoProj/settings/*.pyc
AppSiteOneAWS/static/
ebDjangoProj/db.sqlite3
ebDjangoProj/*.pyc
AppSiteOneAWS/*.pyc
AppSiteOneAWS/migrations/

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

